* {
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    min-width: 16rem;
    background-color: black;
}

.right {
    width: 75vw;
    background-color: black;
    margin-left: 10px;
}

.home ul li{
    text-decoration: none;
    font-style: none;
    padding-left: 14px;
    padding-top: 12px;
    display: flex;
    align-items: center;
}
.list ul li{
    text-decoration: none;
    font-style: none;
    padding-left: 14px;
    padding-top: 12px;
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
}

.home_logo {
    width: 20px;
    padding-right: 15px;
}

.search_logo {
    width: 20px;
    padding-right: 15px;
    cursor: pointer;
}

.search_logo:hover {
    color: white;
}

.highlight {
    cursor: pointer;
    color: gray;
}

.highlight:hover {
    color: white;
}

.logo {
    padding-left: 25px;
    padding-top: 18px;
}

.home ul {
    padding-top: 8px;
    padding-left: 12px;
    padding-bottom: 15px;
}

.books {
    padding-left: 25px;
}


.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 18px;

}

.plus {
    padding-right: 25px;
}


.heading {
    display: flex;
}

.under {
    cursor: pointer;
}

.under:hover {
    text-decoration: underline;
}

.library {
    min-height: 73vh;
    position: relative;

}

.footer {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 13vh;
}

.footer ul li a {
    list-style: none;
    text-decoration: none;
    font-style: none;
    color: gray;
    font-family: "Roboto", sans-serif;
}


.list ul {
    font-size: 11px;
    display: flex;
    flex-wrap: wrap;
    padding-right: 25px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    background-color: #121212;
    border-radius: 8px;
    align-items: center;
}

.nav * {
    padding: 10px;
}

.arrows * {
    background-color: rgba(0, 0, 0, 0.062);
    border-radius: 50%;
}

.sign_up {
    background-color: #121212;
    color: gray;
    font-weight: bolder;
    border: none;
    cursor: pointer;
}

.sign_up:hover {
    color: white;
    font-size: 14px;
}

.log_in {
    background-color: white;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
    border: 2px solid white;
    cursor: pointer;
}

.log_in:hover {
    font-weight: 800;
}

.playlist_container {
    background-color: rgb(22, 20, 20);
    height: 78vh;

}

.card {
    width: 200px;
    border: 2px solid #363636;
    border-radius: 8px;
    max-height: 280px;
    margin: 10px;
    background-color: #141414
}

.cont {
    padding: 10px;
    padding-top: 1px;
    padding-top: -1px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cont p {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    /* Limit to 4 lines */
    -webkit-box-orient: vertical;
    display: -webkit-box;
    max-height: calc(0.6em * 4);
    /* Adjust based on line height */
    margin-top: 10px;
    /* Adjust margin as needed */

}

.poster img {
    padding: 10px;
    padding-bottom: 1px;
    object-fit:contain;
}

.cards {
    display: flex;
}

.card {
    position: relative;
}


.play {
    position: absolute;
    right: 12px;
    cursor: pointer;
    transition: ease-out 1s all;
    z-index:10;
    padding-top: 200px;
    opacity:0;
}   




.play:hover {
    padding-top: 138px;
    opacity: 1;
}


.right{
    position:relative;
}


.music_player{
    background-color:rgb(36, 34, 34);
    display:flex;
    width:100%;
    height:10vh;
    /* position:absolute; */
    bottom:0;
    justify-content:center;
    align-items:center;
    position:fixed;
    z-index:11;
}

.controls{
    margin-right:28vw;
}

.playlist_title h1{
    padding-left:15px;
    padding-top:5px;
}

.song_list{
    list-style-type: decimal;
    padding-left:40px;
    padding-top:20px;
}

